Python - CRUD
create
read
update
delete

API - PGPD
post
get
put
delete

In [17]:
import quandl
quandl.ApiConfig.api_key = 'RXaQV2L_TiWdf6PGUZHY'

In [18]:
quandl.get("WIKI/MSFT", start_date="2010-12-31", end_date="2015-12-31")

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2010-12-31,27.80,27.92,27.6300,27.9100,24752000.0,0.0,1.0,23.062244,23.161793,22.921216,23.153497,24752000.0
2011-01-03,28.05,28.18,27.9200,27.9800,53443800.0,0.0,1.0,23.269638,23.377483,23.161793,23.211568,53443800.0
2011-01-04,27.94,28.17,27.8500,28.0875,54405600.0,0.0,1.0,23.178385,23.369187,23.103723,23.300747,54405600.0
2011-01-05,27.90,28.01,27.7700,28.0000,58998700.0,0.0,1.0,23.145201,23.236455,23.037356,23.228159,58998700.0
2011-01-06,28.04,28.85,27.8600,28.8200,88026300.0,0.0,1.0,23.261342,23.933300,23.112018,23.908412,88026300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-24,55.86,55.96,55.4300,55.6700,9570002.0,0.0,1.0,53.190950,53.286172,52.781496,53.010028,9570002.0
2015-12-28,55.35,55.95,54.9800,55.9500,22458293.0,0.0,1.0,52.705318,53.276650,52.352997,53.276650,22458293.0
2015-12-29,56.29,56.85,56.0600,56.5500,27731403.0,0.0,1.0,53.600404,54.133647,53.381394,53.847981,27731403.0
2015-12-30,56.47,56.78,56.2875,56.3100,21704505.0,0.0,1.0,53.771803,54.066991,53.598023,53.619448,21704505.0
2015-12-31,56.04,56.19,55.4200,55.4800,27334061.0,0.0,1.0,53.362349,53.505182,52.771974,52.829107,27334061.0

In [24]:
data = quandl.get_table('WIKI/PRICES', qopts = { 'columns': ['ticker', 'date', 'close'] }, ticker = ['AAPL', 'MSFT', 'FB'], date = { 'gte': '2016-01-01', 'lte': '2016-12-31' })

In [25]:
data.head()

     ticker       date  close
None
0      MSFT 2016-12-30  62.14
1      MSFT 2016-12-29  62.90
2      MSFT 2016-12-28  62.99
3      MSFT 2016-12-27  63.28
4      MSFT 2016-12-23  63.24

In [26]:
data["ticker"].unique()

array(['MSFT', 'FB', 'AAPL'], dtype=object)

In [30]:
quandl.get('EOD/AAPL', start_date='2016-12-26', end_date='2017-12-28')

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2016-12-27,116.52,117.8000,116.490,117.26,18296855.0,0.0,1.0,27.497450,27.799516,27.490370,27.672082,73187420.0
2016-12-28,117.52,118.0166,116.200,116.76,20905892.0,0.0,1.0,27.733439,27.850631,27.421933,27.554087,83623568.0
2016-12-29,116.45,117.1095,116.400,116.73,15039519.0,0.0,1.0,27.480930,27.636565,27.469131,27.547007,60158076.0
2016-12-30,116.65,117.2000,115.430,115.82,30586265.0,0.0,1.0,27.528128,27.657922,27.240221,27.332257,122345060.0
2017-01-03,115.80,116.3300,114.760,116.15,28781865.0,0.0,1.0,27.327537,27.452612,27.082109,27.410134,115127460.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-21,174.17,176.0200,174.100,175.01,20949896.0,0.0,1.0,41.766290,42.209923,41.749504,41.967723,83799584.0
2017-12-22,174.68,175.4240,174.500,175.01,16349444.0,0.0,1.0,41.888589,42.067001,41.845424,41.967723,65397776.0
2017-12-26,170.80,171.4700,169.679,170.57,33185536.0,0.0,1.0,40.958157,41.118825,40.689340,40.903003,132742144.0
2017-12-27,170.10,170.7800,169.710,170.60,21498213.0,0.0,1.0,40.790296,40.953361,40.696773,40.910197,85992852.0
2017-12-28,171.00,171.8500,170.480,171.08,16480187.0,0.0,1.0,41.006118,41.209949,40.881421,41.025302,65920748.0